@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Grifter';
    src: url('grifterbold-webfont.woff');
    font-display: swap;
  }

  html,
  input {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  h1,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Grifter', 'Poppins', sans-serif;
  }

  /* Main Nav Hover Animation */

  .main-nav-link {
    position: relative;
  }

  .main-nav-link:hover,
  .main-nav-link:active {
    opacity: 1;
    visibility: visible;
  }

  .main-nav-link::after {
    content: '';
    left: 0;
    bottom: -4px;
    position: absolute;
    background: hsl(167, 100%, 38%);
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in-out;
  }

  .main-nav-link--dark::after {
    background: hsl(165, 100%, 59%);
  }

  .main-nav-link:hover::after,
  .main-nav-link:active::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  /* Section Backgrounds */

  #benefits,
  #how-it-works {
    background-image: url(./assets/backgrounds/bbblurry.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  #contact {
    background-image: url(./assets/backgrounds/rainbow-vortex.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

  .blog-img-wrapper:hover img {
    transform: scale(1.1);
  }

  /* Swiper */

  .swiper-pagination {
    --swiper-theme-color: hsl(167, 100%, 38%);
    --swiper-pagination-bullet-inactive-color: hsl(167, 100%, 40%);
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
  }

  /* Mobile Navigation */

  #main-navigation[open] {
    pointer-events: auto;
    visibility: visible;
  }

  #main-navigation[open]::before {
    opacity: 1;
  }

  #navigation-items[data-visible='true'] {
    transform: none;
  }

  #mobile-nav-toggle {
    background-image: url(./assets/icons/list-bold.svg);
    background-repeat: no-repeat;
  }

  #mobile-nav-toggle[aria-expanded='true'] {
    background-image: url(./assets/icons/x-bold.svg);
    position: fixed;
    top: 1.25rem;
    left: 1.5rem;
  }

  /* Tooltips */

  #theme-toggle::before,
  #theme-toggle::after,
  .social-icon::before,
  .social-icon::after {
    --scale: 0;
    --arrow-size: 10px;
    --tooltip-color: #333;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
  }

  #theme-toggle::before,
  #theme-toggle::after {
    bottom: -1rem;
    transform-origin: top center;
  }

  .social-icon::before,
  .social-icon::after {
    top: -0.25rem;
    transform-origin: bottom center;
  }

  #theme-toggle::before,
  .social-icon::before {
    content: attr(data-tooltip);
    color: white;
    font-size: 14px;
    width: max-content;
    text-align: center;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    background: var(--tooltip-color);
  }

  #theme-toggle::before {
    --translate-y: calc(100% - var(--arrow-size));
  }

  .social-icon::before {
    --translate-y: calc(-100% - var(--arrow-size));
  }

  #theme-toggle:hover::before,
  #theme-toggle:hover::after,
  .social-icon:hover::before,
  .social-icon:hover::after {
    --scale: 1;
  }

  #theme-toggle::after,
  .social-icon::after {
    content: '';
    border: var(--arrow-size) solid transparent;
  }

  #theme-toggle::after {
    --translate-y: calc(-0.9 * var(--arrow-size));
  }

  .social-icon::after {
    --translate-y: calc(-1.1 * var(--arrow-size));
  }

  #theme-toggle::after {
    border-bottom-color: var(--tooltip-color);
    transform-origin: bottom center;
  }

  .social-icon::after {
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
  }

  /* Scroll Animations */
  .anim {
    opacity: 0;
  }

  @keyframes fade-bottom {
    from {
      transform: translateY(15px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-left {
    from {
      transform: translateX(-15px);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fade-right {
    from {
      transform: translateX(15px);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media (prefers-reduced-motion) {
    .hidden {
      transition: none;
    }
  }

  .project-image-container:hover img {
    animation: moveSlideshow 12s linear;
    animation-fill-mode: forwards;
  }

  @keyframes moveSlideshow {
    100% {
      transform: translateY(calc(-100% + 220px));
    }
  }
}

@layer utilities {
  .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent;
  }

  .sticky-nav {
    @apply md:dark:bg-[rgba(255,255,255,0.1)] !important;
    @apply fixed;
    @apply md:shadow-sm;
    @apply md:backdrop-blur;
    @apply md:bg-opacity-40;
  }
}
