@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-nav {
  background: hsl(210, 20%, 98%);
  position: sticky;
  /* border-bottom: 1px solid hsl(0, 0%, 34%); */
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

@layer base {
  @font-face {
    font-family: 'Grifter';
    src: url(/build/fonts/grifterbold.otf);
    font-display: swap;
  }

  html,
  input {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  h1,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Grifter', 'Poppins', sans-serif;
  }

  .main-nav-link {
    position: relative;
  }

  .main-nav-link:hover,
  .main-nav-link:active {
    opacity: 1;
    visibility: visible;
  }

  .main-nav-link::after {
    content: '';
    left: 0;
    bottom: -4px;
    position: absolute;
    background: hsl(167, 100%, 38%);
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in-out;
  }

  .main-nav-link--dark::after {
    background: hsl(165, 100%, 59%);
  }

  .main-nav-link:hover::after,
  .main-nav-link:active::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  /* #hero {
    background-image: url(/build/assets/backgrounds/Animated-shape.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  } */

  #benefits {
    background-image: url(/build/assets/backgrounds/scattered-forcefields.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
  }

  /* #screenshots {
    background-image: url(/build/assets/backgrounds/Animated-corner.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: background rotate(180deg);
  } */

  /* #projects {
    background-image: url(/build/assets/backgrounds/rrrainbow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
  } */

  #contact {
    background-image: url(/build/assets/backgrounds/rainbow-vortex.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

  .swiper-pagination {
    --swiper-theme-color: hsl(167, 100%, 38%);
    --swiper-pagination-bullet-inactive-color: hsl(167, 100%, 40%);
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
  }
}
@layer utilities {
  .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent;
  }
}
